.logo {
  height: 32px;
  margin: 16px;
  color: #ffffff;
  padding-left: 10px;
}
.logo img{
  width: 25px;
  height: 25px;
 
}
.menu_theme{
  padding-left: 10px;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold
}
.menu_theme.dark{
  color: #ffffff;
}
.menu_theme.light{
  color: var(--PC)
}
.menu_theme.dark.show,.menu_theme.light.show{
  opacity: 1;
  transition: all 1s ease-in
}
.menu_theme.dark.hide,.menu_theme.light.hide{
  opacity: 0;

}